:root {
    --primary-color: #df0712;
    --primary-dark: #C11119;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}

body {
    min-height: 100vh;
    background-image: url("https://mapandfire.com/wp-content/uploads/2021/09/netflix-brand-hero-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-color: rgba(0, 0, 0, 0.907);
    position: relative;
    padding: 0px 20px;
    /* max-width: 100vw;
    overflow-x: hidden; */
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
}

main {
    width: 100%;
    /* background-color: white; */
    /* height: 100vh; */
    position: relative;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 20px;
}

.left-side-header>img {
    height: 50px;
}

.right-side-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-lang>select {
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.login-btn>button {
    height: 30px;
    width: 100px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.login-btn>button:hover {
    background-color: var(--primary-dark);
}

/* CSS for hero section  */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.hero-content {
    color: #fff;
    max-width: 600px;
    text-align: center;
}

.main-heading>h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.secondary-heading>h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.hero-para>p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.hero-action {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 50px;
    gap: 10px;
}

.hero-action>input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.hero-action>button {
    font-size: 20px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

/* CSS for trending now section  */
.trending-now {
    height: 60vh;
    border-top: 5px solid var(--primary-color);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: -20px;
    padding-top: 40px;
    color: #fff;
}

.trending-show-container {
    margin-top: 40px;
    display: flex;
    gap: 50px;
    overflow-x: auto;
    width: 100%;
}

.show-card {
    height: 270px;
    width: 200px;
    background-color: #fff;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    transition: all 100ms linear;
    cursor: pointer;
}

.show-card>img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.show-card:hover {
    transform: scale(1.05);
}

.show-card>span {
    display: block;
    position: absolute;
    bottom: 30px;
    font-size: 120px;
    color: black;
    left: -10px;
    text-shadow: -3px -3px 1px white;
    font-weight: bolder;
}

.trending-show-container::-webkit-scrollbar {
    display: none;
}

/* CSS for making header responsive  */
@media (width<=600px) {
    .left-side-header>img {
        height: 30px;
    }

    .select-lang>select {
        height: 30px;
        width: 100px;
    }

    .login-btn>button {
        height: 25px;
        width: 80px;
    }

    .hero-action {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .hero-action>button {
        height: 30px;
        width: 60%;
        margin: auto;
    }

    .hero-action>input {
        height: 30px;
    }
}